:root {
  --primary: #86cad6;
  --white: #ffffff;
}

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
}

body {
  font-family: Roboto;
}

.tableWrapper {
  padding: 20px;
}

.title {
  font-size: 35px;
  }

.titleDiv {
  margin: 0;
}

.buttonDiv {
  float: right;
  margin-right: 15px;
  
}

button {
  float: right;
  border: 1px solid #F0FAFA;
  background-color: var(--primary);
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  color: #fff;
}

button:hover {
  border: 1px solid #E1F1F4;
  background-color: grey;
}

